{% extends 'base.html' %}
{% load tz %}

{% block style %}
  <style>
    .jumbotron {
      text-align: center;
    }
    #home {
      float: right;
      height: 35px;
      color: #fff;
      background: #337ab7;
      padding: 10px;
      margin-top: -20px;
    }
  </style>
{% endblock %}

  {% block jumbotron %}

  <a href="{% url 'get_tickets' %}" id="home" right>Home</a>
<hr>

          <div class="jumbotron">

                <form class="form-horizontal"
                      method="post"
                      enctype="multipart/form-data"
                      action="{% url 'raise_ticket' %}">
                      {% csrf_token %}

                      <div class="form-group">
                        <label for="title" class="col-sm-5 col-form-label">Title</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control"
                                 id="title"
                                 name="title"
                                 value='{{ info.title }}'>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="description" class="col-sm-5 col-form-label">Description</label>
                        <div class="col-sm-4">
                          <textarea class="form-control"
                                    input type="text" id="description"
                                    name="description"
                                    rows="3"> {{ info.description }}</textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="status" class="col-sm-5 col-form-label">Status</label>
                        <div class="col-sm-4">
                          <select name="status">
                            <option value=1>In-Progress</option>
                            <option value=2>Completed</option>
                            <option value=3>Pending</option>
                          </select>
                        </div>
                      </div>


                    <hr>

                      <button type="submit" class="btn btn-primary">Submit</button>
              </form>

          </div>
{% endblock %}
